{{> layout/header}}

<style>
    .circle_avatar {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
</style>


<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>회원수정을 해주세요</b></div>

        <div class="card-header d-flex justify-content-center">
            {{#user.picUrl}}
            <img class="circle_avatar" src="/images/{{user.picUrl}}">
            {{/user.picUrl}}
            
            {{^user.picUrl}}
            <div class="circle_avatar"></div>
            {{/user.picUrl}}
        </div>

        <div class="card-body">
            <!--글수정이었으면 /board/1/update 이런식으로 하는게 좋지만, 회원수정은 세션 보면 되니까 굳이 안해도 됨-->
            <form action="/user/update" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter username" disabled value="{{user.username}}">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" name="password" required>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="email" disabled value="{{user.email}}">
                </div>
                <button type="submit" class="btn btn-primary form-control">회원가입수정</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}